
.header {
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.articoli-iniziali {
    display: flex;
    gap: 10px;
    padding: 80px 180px;
   
}

.bottone-1  
{ color: rgb(255, 255, 255);
    background-color: rgb(58, 166, 202);
    padding: 10px;
    border-radius: 20%;
    font-style: Arial ;
    font-weight: bold;
}

.bottone-2
{
background-color: rgb(255, 255, 255);
color: rgb(9, 244, 76);
    padding: 5px 10px;
    border-color: rgb(9, 244, 76);
 border-style: solid ;
    border-radius: 20%;
    }

.intestazioni-task