
.header {
    display: flex;
    align-items: center;
    gap: 10px
    padding: 20px;
    background-color: #ffffff;
}

.articoli-iniziali {
    display: flex;
    gap: 20px;

    margin-top: 50px;
}