
.header {
    display: flex;
    align-items: center;
    gap: 10px
    padding: 20px;
    background-color: #ffffff;
}

.articoli-iniziali {
    display: flex;
    margin left:      
    gap: 20px;
    margin-top: 40px;
}