
.header {
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.articoli-iniziali {
    display: flex;
    gap: 10px;
    padding: 80px 180px;
   
}

.bottone-1  
{ color: rgb(255, 255, 255);
    background-color: rgb(58, 166, 202);
    padding: 10px;
    border-radius: 20%;
    font-style: Arial ;
    font-weight: bold;
}

.bottone-2
{
background-color: rgb(255, 255, 255);
color: rgb(9, 244, 76);
    padding: 5px 10px;
    border-color: rgb(9, 244, 76);
 border-style: solid ;
    border-radius: 20%;
    }

.lista-task {
    background-color: rgb(163, 224, 246);
    font-size: large;
    width: 70%;
    margin: auto;
   }
.main-container {
    width: 70%;
    }

.titoli-iniziali {
    font-style: normal;

     }
.task-line { 
    display:flex
}

.editorial { 
    color: #ffffff;
    font-weight: bold;
    background-color: rgb(58, 166, 202);;
    border-radius: 40%;
    padding: 0px 20px;


    }

